/*General-Styling*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

html {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

/*Body-Section*/

.wrapperBody {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.wrapperMain {
    width: 90%;
    height: 90%;
    border: 1rem black solid;
    padding: 2rem;
    position: relative;
}

/*Colors-Section*/

.colorsWrapper {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    border: 1rem black solid;
    padding: 1rem;
    margin: 1rem;
}

.subWrapperColor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: .8rem;
    padding: .8rem;

}

.subWrapperColor li {
    max-width: 10rem;
}

.colorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border: 2px white solid;
    border-radius: 50%;
    box-shadow: 2px 5px 5px black;
    margin-bottom: .5rem;
}

/*RICH BLACK*/
#richBlack {
    background-color: #0d1317;
    color: white;
    position: relative;
}

/*On hover content addition*/
#richBlack::before {
    content: "#0d1317";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#richBlack:hover::before {
    opacity: 1;
}

#richBlack::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#richBlack:hover::after {
    opacity: 1;
}

/*LICORICE*/
#licorice {
    background-color: #362023;
    color: white;
    position: relative;
}

/*On hover content addition*/
#licorice::before {
    content: "#362023";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#licorice:hover::before {
    opacity: 1;
}

#licorice::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#licorice:hover::after {
    opacity: 1;
}

/*OUTERSPACE*/
#outerspace {
    background-color: #474747;
    color: white;
    position: relative;
}

/*On hover content addition*/
#outerspace::before {
    content: "#474747";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#outerspace:hover::before {
    opacity: 1;
}

#outerspace::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#outerspace:hover::after {
    opacity: 1;
}

/*WHITE*/
#white {
    background-color: white;
    color: black;
    border-color: black;
    position: relative;
}

/*On hover content addition*/
#white::before {
    content: "#FFFFFF";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#white:hover::before {
    opacity: 1;
}

#white::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#white:hover::after {
    opacity: 1;
}

/*BLACK*/
#black {
    background-color: black;
    color: white;
    position: relative;
}

/*On hover content addition*/
#black::before {
    content: "#000000";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#black:hover::before {
    opacity: 1;
}

#black::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#black:hover::after {
    opacity: 1;
}

/*LEMON CHIFFON*/
#lemonChiffon {
    background-color: #FAF0CA;
    color: black;
    position: relative;
}

/*On hover content addition*/
#lemonChiffon::before {
    content: "#FAF0CA";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#lemonChiffon:hover::before {
    opacity: 1;
}

#lemonChiffon::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#lemonChiffon:hover::after {
    opacity: 1;
}

/*ANTI-FLASH WHITE*/
#antiFlashWhite {
    background-color: #E8E9EB;
    color: black;
    position: relative;
}

/*On hover content addition*/
#antiFlashWhite::before {
    content: "#E8E9EB";
    position: absolute;
    bottom: 2.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#antiFlashWhite:hover::before {
    opacity: 1;
}

#antiFlashWhite::after {
    content: "⮛";
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#antiFlashWhite:hover::after {
    opacity: 1;
}

#disclaimer {
    position: absolute;
    bottom: .3rem;
    right: 3rem;
    font-size: small;
}

/*FONT-SECTION*/

.fontWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5;
    border: 1rem black solid;
    padding: 1rem;
    margin: 1rem;
}

@media only screen and (max-width: 760px) {
    .fontWrapper {
        padding: 1rem;
        height: auto;
    }
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

.button {
    align-content: center;
    background-color: white;
    justify-content: center;
    margin-bottom: 1rem;
}

#linkBtn {
    border: none;
    background-color: white;
}

#linkBtn a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1rem;
    font-family: "Bitter", serif;
    border: .5rem black solid;
    box-shadow: 2px 5px 5px #362023;
    font-weight: bold;
    padding: 1rem;
}

#linkBtn a:hover {
    background-color: black;
    color: white;
    transition: .4s ease;
}

#linkBtn a:active {
    background-color: #FAF0CA;
    color: black;
    transition: .4s ease;
}

/* Textstyle-Section*/

.textStyleWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border: 1rem black solid;
    padding: 1rem;
    margin: 1rem;
}

.textStyleFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.textStyleDiv {
    width: 20rem;
    border: .5rem black solid;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 2px 5px 5px black;
}

/*----MEDIA QUERIES----*/

@media only screen and (max-width: 760px) {

    .wrapperBody {
        padding: 1rem;
    }

    .wrapperMain {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .colorBox {
        width: 8rem;
        height: 8rem;
        font-size: smaller;
    }

    #richBlack:hover::before {
        bottom: 2.5rem;
    }

    #licorice:hover::before {
        bottom: 2.5rem;
    }

    #outerspace:hover::before {
        bottom: 2.5rem;
    }

    #white:hover::before {
        bottom: 2.5rem;
    }

    #black:hover::before {
        bottom: 2.5rem;
    }

    #lemonChiffon:hover::before {
        bottom: 2.5rem;
    }

    #antiFlashWhite:hover::before {
        bottom: 2.5rem;
    }

    .textStyleWrapper {
        width: fit-content;
        padding: 0%;
        margin: 0%;
        justify-content: center;
    }

    .textStyleDiv {
        width: fit-content;
        height: fit-content;
        border: 2px black solid;
    }

    .liMediaQuer li {
        display: none;
    }

    #disclaimer {
        display: none;
    }
}


@media only screen and (max-width: 360px) {

    .colorsWrapper {
        padding: 0rem;
        text-align: center;
    }

    .fontWrapper {
        text-align: center;
    }

    .textStyleWrapper {
        text-align: center;
    }

    #linkBtn a {
        display: flex;
        flex-flow: column;
        border-style: none;
        background-color: #FAF0CA;
    }

    .colorBox {
        width: 4.5rem;
        height: 4.5rem;
        font-size: x-small;

    }

    .liMediaQuer li {
        display: none;
    }

    #disclaimer {
        display: none;
    }

    #richBlack:hover::before {
        bottom: 2.5rem;
    }

    #licorice:hover::before {
        bottom: 2.5rem;
    }

    #outerspace:hover::before {
        bottom: 2.5rem;
    }

    #white:hover::before {
        bottom: 2.5rem;
    }

    #black:hover::before {
        bottom: 2.5rem;
    }

    #lemonChiffon:hover::before {
        bottom: 2.8rem;
    }

    #lemonChiffon:hover::after {
        bottom: .5rem;
    }

    #lemonChiffon {
        font-size: x-small;
        text-align: center;
    }

    #antiFlashWhite:hover::before {
        bottom: 2.8rem;
    }

    #antiFlashWhite:hover::after {
        bottom: .5rem;
    }

    #antiFlashWhite {
        text-align: center;
        font-size: x-small;
    }
}