/* Colors for styling:

0d1317 - RichBlack
101d42 - Oxford Blue
362023 - Licorice
*/

/* General-Styling */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Bitter", serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;
    background-color: #362023;
    color: white;
    line-height: 1.5rem;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

header {
    background-color: #0d1317;
    margin-bottom: 5rem;
    padding: 3rem;
}

/* Header-Styling */

.headerFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#portrait {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.navBar {
    display: grid;
    grid-template-rows: 5.5rem 5.5rem 5.5rem;
    grid-template-columns: 5.5rem 5.5rem 5.5rem;
    list-style: none;
}

.navBarLi {
    max-width: 100%;
    max-height: 100%;
}

/*Gridding the NavBar*/
#bio {
    grid-row: 1 / 2;
    grid-column: 1 /2;
}

#cv {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#skill {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#project {
    grid-row: 3 / 4;
    grid-column: 1 /2;
}

#contact {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}


/* Main-Styling */

.flexMain {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

/*Bio & CV*/
.columns {
    height: fit-content;
    width: 50rem;
    padding: 2rem;
    text-align: left;
    background-color: #474747;
    border-radius: 1rem;
    border: #0d1317 1px solid;
    box-shadow: 10px 5px 5px #000000 ;
}

/*Skills-Section*/
.skillsFlexWrapper {
    display: flex;
    padding: 2rem;
    height: fit-content;
    width: 50rem;
    justify-content: space-around;
    align-items: center;
}

.softskillsFlex {
    display: flex;
    background-color: #474747;
    border-radius: 1rem;
    border: #0d1317 1px solid;
    margin: 1rem;
    box-shadow: 10px 5px 5px #000000 ;
    border-radius: 1rem;
    padding: 2rem;
    flex-flow: column wrap;
}

.subWrapperSkills{
    display: flex;
    background-color: #474747;
    border-radius: 1rem;
    border: #0d1317 1px solid;
    margin: 1rem;
    box-shadow: 10px 5px 5px #000000 ;
    border-radius: 1rem;
    padding: 2rem;
    flex-flow: row wrap;
}

/*
.codingFlex {
    background-color: #474747;
    border: #0d1317 1px solid;
    margin: 1rem;
    box-shadow: 10px 5px 5px #000000 ;
    border-radius: 1rem;
    padding: 2rem;
}
*/

.codingFlex {
    list-style: none;
}

/*
.frameworkFlex {
    background-color: #474747;
    border: #0d1317 1px solid;
    margin: 1rem;
    box-shadow: 10px 5px 5px #000000 ;
    border-radius: 1rem;
    padding: 2rem;
    flex-flow: column wrap;
}
*/

.frameworkFlex {
    list-style: none;
}

/*
.toolsFlex {
    background-color: #474747;
    border: #0d1317 1px solid;
    margin: 1rem;
    box-shadow: 10px 5px 5px #000000 ;
    border-radius: 1rem;
    padding: 2rem;
    flex-flow: column wrap;
}
*/

.toolsFlex {
    list-style: none;
}

/*Projects-Section*/
.wrapperProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #474747;
    padding: 1rem;
    margin: 1rem;
    height: fit-content;
    width: 25rem;
    border: #0d1317 1px solid;
    box-shadow: 10px 5px 5px #000000 ;
    border-radius: 1rem;
    list-style: none;
}

.subFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectImg {
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
}

#certificate {
    display: none;
}

/* Footer-Styling */

.contactSection {
    background-color: #FAF0CA;
    color: #000000;
}

.socialMediaIcon {
    height: 3rem;
    width: 3rem;
}

#linkedIn {
    height: 3rem;
    width: 3.4rem;
}

.flexBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}